{% extends "base.html" %}

{% block javascript %}
  <script>
  // Autocomplete for search box.
  $(function() {
    var availableFoods = {"items":[
    {% for products in product_type %}
      {"label": "{{ products.name }}", "id": "{{ products.slug }}"},
    {% endfor %}
    ]};
    $("#search-input").autocomplete({
      source: availableFoods.items,
      select: function(event, ui) {
        document.location.href='/food/'+ui.item.id;
      }         
    });   
    var obj = availableFoods.items;
    $("#search-input").keypress(function (k) { 
      if (k.which == 13) { 
        // Search all foods to match search box. If found, load URL using slug.
        $.each(availableFoods.items, function(v, f) {
          var food = f.label.toLowerCase();
          var truncateByOne = food.substring(0, food.length - 1);
          if ((food == $("#search-input").val().toLowerCase()) || (truncateByOne == $("#search-input").val().toLowerCase())){
            document.location.href='/food/'+f.id;
          }
        });
      } 
    });         
  });
  </script>
{% endblock %}  

{% block content %}
	<div class="container content-inner">
		<div class="section row" style="text-align: center">		
			<div class="two columns mobile-zero">
				&nbsp;
			</div>			
			<div class="eight columns mobile-full">
				<h1>Compare grocery prices:</h1>
			</div>	
			<div class="two columns mobile-zero">
				&nbsp;
			</div>	
		</div>
		<div class="section row">			
			<div class="twelve columns mobile-full">
				<div id="searchbox">	
					<div id="search">
						<div id="searchField" class="ui-widget">
							<input type="text" id="search-input" role="search" name="s" placeholder="ex. Milk" value="" autofocus="autofocus"/>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div id="produce" class="category-block">
		<div class="container content-inner">
			<div class="section row">
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
				<div class="eight columns"><h5>Produce</h5></div>
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
			</div>
				{% for products in produce %}
    				{% if forloop.counter == 1 %}
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
    				<div class="two columns tablet-three mobile-twelve"><a href="/food/{{ products.name|slugify }}/">{{ products.name }}</a></div>
    				{% if forloop.last %}
    				<div class="two columns"></div>
    					</div>
    				{% elif forloop.counter|divisibleby:4 %}
    				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    					</div>
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
				{% endfor %}				
			</div>
		</div>	
	</div>
	<div id="refrigerated" class="category-block">
		<div class="container content-inner">
			<div class="section row">
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
				<div class="eight columns"><h5>Refrigerated</h5></div>
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
			</div>
				{% for products in refrigerated %}
    				{% if forloop.counter == 1 %}
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
    				<div class="two columns tablet-three mobile-twelve"><a href="/food/{{ products.name|slugify }}/">{{ products.name }}</a></div>
    				{% if forloop.last %}
    				<div class="two columns mobile-zero tablet-zero"></div>
    					</div>
    				{% elif forloop.counter|divisibleby:4 %}
    				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    					</div>
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
				{% endfor %}				
			</div>
		</div>	
	</div>	
	<div id="cooking" class="category-block">
		<div class="container content-inner">
			<div class="section row">
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
				<div class="eight columns"><h5>Cooking</h5></div>
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
			</div>
				{% for products in cooking %}
    				{% if forloop.counter == 1 %}
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
    				<div class="two columns tablet-three mobile-twelve"><a href="/food/{{ products.name|slugify }}/">{{ products.name }}</a></div>
    				{% if forloop.last %}
    				<div class="two columns"></div>
    					</div>
    				{% elif forloop.counter|divisibleby:4 %}
    				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    					</div>
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
				{% endfor %}				
			</div>
		</div>	
	</div>	
	<div id="dry" class="category-block">
		<div class="container content-inner">
			<div class="section row">
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
				<div class="eight columns"><h5>Dry/Baking Goods</h5></div>
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
			</div>
				{% for products in dry %}
    				{% if forloop.counter == 1 %}
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
    				<div class="two columns tablet-three mobile-twelve"><a href="/food/{{ products.name|slugify }}/">{{ products.name }}</a></div>
    				{% if forloop.last %}
    				<div class="two columns"></div>
    					</div>
    				{% elif forloop.counter|divisibleby:4 %}
    				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    					</div>
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
				{% endfor %}				
			</div>
		</div>	
	</div>	
	<div id="cans" class="category-block">
		<div class="container content-inner">
			<div class="section row">
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
				<div class="eight columns"><h5>Cans &#038; Jars</h5></div>
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
			</div>
				{% for products in cans %}
    				{% if forloop.counter == 1 %}
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
    				<div class="two columns tablet-three mobile-twelve"><a href="/food/{{ products.name|slugify }}/">{{ products.name }}</a></div>
    				{% if forloop.last %}
    				<div class="two columns"></div>
    					</div>
    				{% elif forloop.counter|divisibleby:4 %}
    				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    					</div>
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
				{% endfor %}				
			</div>
		</div>	
	</div>	
	<div id="miscellaneous" class="category-block">
		<div class="container content-inner">
			<div class="section row">
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
				<div class="eight columns"><h5>Miscellaneous</h5></div>
				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
			</div>
				{% for products in miscellaneous %}
    				{% if forloop.counter == 1 %}
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
    				<div class="two columns tablet-three mobile-twelve"><a href="/food/{{ products.name|slugify }}/">{{ products.name }}</a></div>
    				{% if forloop.last %}
    				<div class="two columns"></div>
    					</div>
    				{% elif forloop.counter|divisibleby:4 %}
    				<div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    					</div>
    					<div class="section row"><div class="two columns mobile-zero tablet-zero">&nbsp;</div>
    				{% endif %}
				{% endfor %}				
			</div>
		</div>	
	</div>
{% endblock %}