{% load prices_extras %}

<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ food }} | Grocery Data</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <link rel="stylesheet" media="screen" href="/static/stylesheets/style.css">
</head>
<body>
	<div id="header">
		<div class="container content-inner">
			<div class="section row">
				<div class="twelve columns mobile-full">
					Grocery Data
				</div>
			</div>
		</div>	
	</div>
	<div class="container content-inner">
		<div class="section row">		
			<div class="six columns mobile-full">
				<h1>{{ food }}</h1>
			</div>
			<div class="six columns mobile-full">
				<div class="section row">		
					<div class="six columns mobile-six h6" id="nav-previous">
						{% if previous %}
							<a href="/food/{{ previous.slug }}/">&#8592; {{ previous.name }}</a>
						{% else %}
						 	&nbsp;
						{% endif %}
					</div>
					<div class="six columns mobile-six h6" id="nav-next">
						{% if next %}
							<a href="/food/{{ next.slug }}/">{{ next.name }} &#8594;</a>
						{% else %}
						 	&nbsp;							
						{% endif %}
					</div>		
				</div>		
			</div>			
		</div>
		<div class="section row">		
			<div class="six columns mobile-full" id="food-table">
				<table>
					<tr>						
						<th id="ppo">$ / oz</th>
						<th>Source</th>
						<th id="pesticides">Pesticides</th>
						<th id="price_per_amount">Price / Amount</th>						
					</tr>
					{% for Products in Product_list %}
						<tr>
							<td class="h3">{{ Products.ppo|remove_lead_zero }}<span class="ppo"> $ / oz</span></td>
							<td>{{ Products.store }}</td>
							<td>{{ Products.get_production_display }}</td>
							<td>${{ Products.price }} / {{ Products.amount|remove_lead_zero}} {{ Products.get_unit_display }}</td>	
						</tr>
					{% endfor %}
				</table>
			</div>
			<div class="three columns mobile-full" id="graph-sidebar">
		 		<script type="text/javascript">
		        	var dataset = {{ d3_data|safe }}
					var w = 263;
					var h = 185;     
					var barWidth = Math.round(w / dataset.length);
					var scale = d3.scale.linear()
		            	.domain([0, {{ high_product }}])
		            	.range([0, h]);
			        var datasetz = [ 5, 10, 15, 20, 25 ];
					svg = d3.select("#graph-sidebar").append("svg")
						.attr("width", "100%")
						.attr("height", "185")
						.attr("viewBox", "0 0 234 185")
						.attr("preserveAspectRatio", "xMinYMin meet")						
					var rectangles = svg.selectAll("rect")
					    .data(dataset)
					    .enter()
					    .append("rect");
					rectangles.attr("x", function(d, i) {
			        	return (i * (barWidth));
			        })
				       	.attr("y", function(d) {
				       		return h - scale(d.price);
				      	})
				        .attr("width", function(d) {
				       		return (barWidth);
				        })
				        .attr("height", function(d) {
				            return scale(d.price);
				        })  
						.style("fill", "#bebebe");
		        </script>
			</div>		
			<div class="three columns mobile-full" id="number-sidebar">
				
				{% if cost_of_organic %}
					<h5>Cost of Organic</h5>
					<div class="h3">{{ cost_of_organic|remove_lead_zero }}x</div>
				{% endif %}
				{% if cost_of_organic and price_range %}
					<hr>
				{% endif %}
				{% if price_range %}
					<h5>Price Range</h5>
					<div class="h3">{{ price_range|remove_lead_zero }}<span class="ppo"> $ / oz</span></div>
				{% endif %}			
			</div>				
		</div>
	</div>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/javascripts/default.js"></script>

</body>
</html>