{% load prices_extras %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ food }} | Grocery Data</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
  <![endif]-->  
   <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>    
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.1"></script>
  <script>
  </script>        
  <link rel="stylesheet" media="screen" href="/static/stylesheets/style.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
</head>
<body>
  <div id="header">
    <div class="container content-inner">
      <div class="section row">
        <div class="twelve columns mobile-full">
          <a href="/">Grocery Data</a>
        </div>
      </div>
    </div>  
  </div>
  <div class="container content-inner">
    <div class="section row">    
      <div class="six columns mobile-full">
        <h1>{{ store.name }}</h1>
      </div>
      <div class="six columns mobile-full">
        <div class="section row">    
          <div class="eight columns mobile-six h6" id="nav-previous">
            {% if previous %}
              <a href="/food/{{ previous.slug }}/">&#8592; {{ previous.name }}</a>
            {% else %}
               &nbsp;
            {% endif %}
          </div>
          <div class="four columns mobile-six h6" id="nav-next">
            {% if next %}
              <a href="/food/{{ next.slug }}/">{{ next.name }} &#8594;</a>
            {% else %}
               &nbsp;              
            {% endif %}
          </div>    
        </div>    
      </div>      
    </div>
    <div class="section row">    
			<div class="eight columns mobile-full tablet-full" id="food-table">
				<table>
					<tr>						
						<th id="ppo">$ / oz</th>
						<th>Food</th>
						<th id="pesticides">Pesticides</th>
						<th id="price_per_amount">Price / Amount</th>						
					</tr>
					{% for Products in product_list %}
						<tr class="{% if forloop.counter|divisibleby:2 %}odd{% else %}even{% endif %}" id="connect-{{forloop.counter}}">
							<td class="h3">{{ Products.ppo|remove_lead_zero }}<span class="ppo"> $ / oz</span></td>
							<td>{{ Products.name }}</td>
							<td>{{ Products.get_production_display }}</td>
							<td>${{ Products.price }} / {{ Products.amount|remove_lead_zero}} {{ Products.get_unit_display }}</td>
						</tr>
					{% endfor %}
				</table>
      </div>  
      <div class="four columns mobile-full tablet-full store-detail">
        <div id="map" style="height: 240px"></div>
        <script type="text/javascript">
          var layer = new L.StamenTileLayer("toner")     
					var map = L.map('map', {
					    center: [{{ store.lat }}, {{ store.lon }}],
					    minZoom: 11,
					    scrollWheelZoom: false,
					    zoom: 16,
					    attributionControl: false
					});
          L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {
          attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
          }).addTo(map);          
					var myIcon = L.icon({
					    iconUrl: '/static/images/my-icon.png',
					    iconRetinaUrl: '/static/images/my-icon@2x.png',
					    iconSize: [23, 41],
					    iconAnchor: [20, 44],
					    popupAnchor: [-3, -76],
					});
          var marker = L.marker([{{ store.lat }}, {{ store.lon }}], {icon: myIcon}).addTo(map);
          map.addLayer(layer);
        </script>        
        <div id="map-attribution">Powered by <a href="http://leafletjs.com/">Leaflet</a> — Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.</div>
        <hr>   
	      <div class="row section">
		      <div class="half columns">       
		     		<h6>Address</h6>
		     	</div>
		      <div class="half columns">       
		      	<p>{{ store.address1 }}<br>{{ store.address2 }}</p>
		     	</div>     	       
	      </div>    
				<hr>
	      <div class="row section">
		      <div class="half columns">       
		     		<h6>Online</h6>
		     	</div>
		      <div class="half columns">       
		      	<p><a href="{{ store.official_url }}" target="_blank">Official Website</a><br><a href="{{ store.yelp_url }}" target="_blank">Yelp</a></p>
		     	</div>     	       
	      </div> 		      
      </div>        
    </div>
  </div>
</body>
</html>